<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>
            Pagina 1
        </title>
    </head>
    <body>
        <h1>
            CALCULADORA
        </h1>
        <form th:action="@{/calc}" method="post" th:object="${calc}">
            N1: <input type="number" th:field="*{num1}"><br>
            N2: <input type="number" th:field="*{num2}"><br>
            <input type="submit" value="Somar">
        </form>
        <div th:if="${res != null}">
            <h2 th:text="${res}"></h2>
        </div>
        <a th:href="@{/}">Voltar</a>
    </body>
</html>